$rojoroosevelt: #ef4034;
$blanco: #ffffff;
$azulroosevelt: #3580c4;
$verderoosevelt: #498b2a;

* {  //Cuando hay asterisco aplica para todos los elementos de la estructura 
  margin: 0px;
  padding: 0px;
}

.capacitacion {
  max-width: 1000px;
  margin: auto; // centrar contenido
  position: relative; 
  .inactivo {
    display: none;
  } 
  .activo {
    display: initial !important;
  }
  .menu {
    background-color: $rojoroosevelt;
    opacity: 0.9;
    display: flex;
    &_logo {
      background-image: url(../img/logo-roosevelt-white.png);
      width: 40%;
      background-repeat: no-repeat;
      background-size: contain;
      margin: 10px;
    }
    &_titulo {
      width: 60%;
      text-align: center;
      margin: auto;
      h1 {
        color: $blanco;
        font-family: sans-serif;
        font-size: 25px;
        margin: 10px 0;
      }
    }
  }
  .bienvenida {
    text-align: justify;
    margin-top: 32px;
    p {
      width: 80%;
      margin: auto;
      padding: 15px 0;
    }
  }
  .btn_siguiente {
    background-color: $azulroosevelt;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    margin: 32px 20px 64px;
    cursor: pointer;
    box-shadow: -3px 3px 0px 0px rgba(0,0,0,0.75); // sobra del boton 
    float: right;
    p {
      color: $blanco;
      line-height: 30px;
      font-family: sans-serif;
      font-weight: 700;
    }
    &:active{
      bottom: -68px;
      right: 33px;
      box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    } 
    &.inactivo {
      display: none;
    }
  }
  .video {
    margin: 25px auto;
    width: 540px;
    height: 360px;
    display: none;
    iframe {
      width: 100%;
      border-radius: 10px;
      margin-top: 30px;
    }
    &.activo {
      display: inline;
    }
  }
  .encuesta {
    display: none;
    iframe {
      width: 100vw;
      margin-top: 50px;
    }
  }
  .btn_siguiente_video {
    background-color: $azulroosevelt;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    margin: 32px 20px 64px;
    display: none;
    cursor: pointer;
    box-shadow: -3px 3px 0px 0px rgba(0,0,0,0.75);
    float: right;
    p {
      color: $blanco;
      line-height: 30px;
      font-family: sans-serif;
      font-weight: 700;
      padding: 0px 10px;
    }
    &:active{
      bottom: -68px;
      right: 33px;
      box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    } 
  }
  .finalizar {
    background-color: $azulroosevelt;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    margin: 32px 20px 64px;
    display: none;
    cursor: pointer;
    box-shadow: -3px 3px 0px 0px rgba(0,0,0,0.75);
    float: right;
    p {
      color: $blanco;
      line-height: 30px;
      font-family: sans-serif;
      font-weight: 700;
      padding: 0px 10px;
    }
      &:active{
      bottom: -68px;
      right: 33px;
      box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    } 
    &.activo {
      display: inline;
    }
  }
  .encuestaPos {
    display: none;
    iframe {
      width: 100vw;
      margin-top: 50px;
    }
    &.activo {
      display: inline;
    }
  }
  .despedida{
    display: none; 
    &.activo {
      display: inline;
    }
    p {
      text-align: center;
      color: $verderoosevelt;
      font-family: sans-serif;
      font-size: 30px;
      width: auto;
      margin: 30px 0;
    }
    img {
      margin-left: calc((100vw - 336px)/2);
    }
  }

}
